// button
.el-button--primary {
  background-color: #2d98ff;
  border-color: #2d98ff;
}
.el-table thead {
  color:  #333;
}
.el-button {
  padding: 9px 15px;
}
.el-button--small, .el-button--small.is-round {
  padding: 6px 15px;
}
// table
.el-table__body-wrapper {
  color:  #333;
}
.el-table th {
  background: #eaedf2;
  font-weight: normal;
  padding: 11px 0;
}
// input
.el-input__inner {
  border-radius: 4px;
}
.vim {
  .el-input__inner {
    height: 34px;
    line-height: 34px;
  }
}
.el-textarea__inner {
  &:hover, &:focus {
    border-color: #2d98ff;
  }
  &:focus {
    box-shadow: inset 0 0 0 2px rgba(45,152,255,.3);
  }
}
.el-input.is-active .el-input__inner, .el-input__inner:focus, .el-input__inner:hover {
  border-color: #2d98ff;
}
.el-input__inner:focus {
  box-shadow: inset 0 0 0 2px rgba(45,152,255,.3);
}

.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid, .el-message-box__input input.invalid:focus {
  border-color: #ff5f5f;
}
.el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner:focus, .el-form-item.is-error .el-textarea__inner:focus, .el-message-box__input input.invalid:focus {
  box-shadow: inset 0 0 0 2px rgba(255,95,95,.3);
}
// nav menu

.el-menu-item.is-active {
  background-color: #313c64!important;
  position: relative;
  &:before {
    content: '';
    background: #2d98ff;
    width: 3px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
  }
}
.el-menu-item {
  &:hover {
    background-color: #313c64!important;
  }
}

.el-submenu__title:hover {
  background: #313c64!important;
}
// dialog
.el-dialog {
  // background: $color-lighter-blue;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 80px rgba($color: #b1d6fa, $alpha: .4);
}
.el-dialog__header {
  padding: 15px 24px;
  background: #2d98ff;
  .el-dialog__title {
    color: #fff;
    font-size: 16px;
  }
}
.el-dialog__headerbtn {
  top: 15px;
}
.el-dialog__body {
  padding: 0;
}

// radio
.el-radio__input.is-checked+.el-radio__label {
  color: #2d98ff;
}
.el-radio__input.is-checked .el-radio__inner {
  border-color: #2d98ff;
  background: #2d98ff;
}
.el-radio+.el-radio {
  margin-left: 20px;
}
// popover
.el-popover {
  padding: 0;
}

.el-popper[x-placement^=bottom].grey-arr .popper__arrow::after {
  border-bottom-color: #f7f9fc;
}

// form 
.el-form-item {
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}


.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  display: none;
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:after {
  content: '*';
  color: #F56C6C;
  margin-left: 4px;
}


.el-menu-item, .el-submenu__title {
  height: 44px;
  line-height: 44px;
}

// step
.el-step.is-simple .el-step__title {
  font-size: 14px;
}

.el-steps--simple {
  padding: 8px 6%;
}

.el-step__head.is-finish {
  color: #2d98ff;
  border-color: #2d98ff;
}
.el-step__title.is-finish {
  color: #2d98ff;
}
// el-tabs
.el-tabs__nav-wrap::after {
  height: 0;
}
.el-tabs__item {
  height: 32px;
}
// el-card
.el-card.pt0 {
  .el-card__body {
    padding-top: 0;
  }
}

// paganation
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #2d98ff;
}

// message
.el-message {
  padding: 10px 10px 10px 15px;
}